
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
}

<div class="container">

<div class="row">

    <div class="card   my-5 offset-2 col-10 " style="min-height:450px; font-family:'Amiri', serif;">
        <div class="card-body">
            <textarea id="summernote" name="editordata"></textarea>
        </div>

    </div>


</div>

</div>